.hero-banner {
  margin: 16px;
  height: 30vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  border-radius: 6px;
}

.hero-banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
  box-sizing: border-box;
  background: linear-gradient(to top, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.1) 100%);
}

.hero-banner-title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 -8px -8px;
  align-self: flex-end;
}

.hero-banner-play {
  width: 40px;
  height: 40px;

  margin: 0 0 -8px 0;
  background: #e50914;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
}