.movie-card {
  width: 120px;
  position: relative;
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
}

.progress-bar {
  height: 4px;
  background: #333;
}

.progress {
  height: 100%;
  background: red;
}